.cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: black;
  width: auto;
  height: 100vh;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translateX(101%);
  transition: transform 300ms ease;
  z-index: 5;
}

.cart span {
  color: white;
}
