.cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  transform: translateX(101%);
  opacity: 0;
  transition: transform 300ms ease, opacity 350ms ease;
  z-index: 5;
  padding: 0 20px;
}

.cart.cart--active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease, opacity 350ms ease;
}

.cart span {
  color: white;
}
