.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 60px 0 25px;
  align-items: center;
}

.footer__slogan {
  text-align: center;
  padding: 0 10px;
}

.footer__info {
  display: flex;
  margin: 25px 0 10px;
}

.footer__divider {
  margin: 0 5px;
}

.footer__github-link {
  text-decoration: none;
  color: black;
}

.footer__made-with-love {
  color: red;
}

.footer__made-with-love,
.footer__github-icon {
  margin-left: 2px;
}

.footer:hover .footer__made-with-love {
  animation: heartbeat 500ms ease infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
