.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 45px 0;
}

.navigation h1 {
  margin: 0 0;
  padding: 5px 10px;
  text-align: center;
  flex: 1;
  transform: skew(-8deg);
  font-size: 28px;
}

.navigation h1 a {
  background-color: black;
  color: white;
  padding: 10px;
}

.navigation h1 a:hover {
  color: white;
}

.navigation__icon {
  flex: 0;
  cursor: pointer;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.navigation__cart-container {
  width: 50px;
  height: auto;
  background-color: black;
  padding: 8px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.navigation__icon--cart {
  color: white;
}

.navigation__profile-container {
  width: 50px;
  height: auto;
  background-color: black;
  padding: 8px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.navigation__icon--profile {
  color: white;
}

@media only screen and (max-width: 430px) {
  .navigation {
    padding: 45px 15px;
  }
}

@media only screen and (max-width: 400px) {
  .navigation h1 {
    font-size: 25px;
  }

  .navigation__cart-container,
  .navigation__profile-container {
    width: 45px;
  }
}

@media only screen and (max-width: 360px) {
  .navigation h1 {
    font-size: 21px;
  }

  .navigation__cart-container,
  .navigation__profile-container {
    width: 40px;
  }
}
