.product-bin {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  padding: 0 5%;
  overflow: visible;
  flex: 0 0 auto;
}

.product-bin__product-card {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: auto;
  margin: 30px 0 10px;
  align-items: center;
  cursor: pointer;
}

.product-bin__product-card ~ .product-bin__product-card {
  margin: 30px 0 10px 15px;
}

.product-bin__product-card:nth-of-type(4n + 1) {
  margin-left: 0;
}

.product-bin__product-card img {
  width: 100%;
  height: auto;
}

.product-bin__product-card h3,
.product-bin__product-card h4 {
  margin: 10px 0;
  color: black;
}

.product-card__details-button {
  background-color: black;
  position: relative;
  color: white;
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  outline: none;
  transition: background-color 450ms ease, border 450ms ease, width 450ms ease;
}

.product-bin__product-card:hover .product-card__details-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: background-color 450ms ease, border 450ms ease, width 450ms ease;
}

.product-card__details-button::after {
  content: "\2192";
  opacity: 0;
  position: relative;
  color: black;
  margin-left: 10px;
  transform: translateX(15px);
  transition: transform 450ms ease, opacity 450ms ease;
}

.product-bin__product-card:hover .product-card__details-button::after {
  opacity: 1;
  transform: translateX(0);
  transition: transform 450ms ease, opacity 450ms ease;
}

.product-card__details-button span {
  padding-left: 26px;
  transition: padding-left 450ms ease;
}

.product-bin__product-card:hover span {
  padding-left: 0;
  transition: padding-left 450ms ease;
}

@media only screen and (max-width: 1024px) {
  .product-bin__product-card {
    width: 26vw;
  }

  .product-bin__product-card:nth-of-type(4n + 1) {
    margin-left: 15px;
  }

  .product-bin__product-card:nth-of-type(3n + 1) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 650px) {
  .product-bin {
    padding: 0 1%;
  }

  .product-bin__product-card {
    width: 40vw;
  }

  .product-bin__product-card ~ .product-bin__product-card,
  .product-bin__product-card:nth-of-type(4n + 1),
  .product-bin__product-card:nth-of-type(3n + 1) {
    margin-left: 0;
  }

  .product-bin__product-card:nth-of-type(2n) {
    margin-left: 15px;
  }
}
