.product-type {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.product-type__shirts,
.product-type__shoes {
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  padding: 5px;
  transform: skew(-5deg);
  transition: color 400ms ease, background-color 400ms ease;
}

.product-type__shirts:focus,
.product-type__shoes:focus {
  outline: none;
}

.product-type__shirts {
  margin-right: 30px;
}
